<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Item </title>
</head>

<body>
    <center>
        <h1>Edit Item</h1>
        <form action="/item/edit/<%=data.id%>" method="post">
            <input type="text" placeholder="brand id" name="BrandId" value="<%=data.BrandId%>">
            <input type="text" placeholder="size id" name="SizeId" value="<%=data.SizeId%>">
            <input type="text" placeholder="item name" name="name" value="<%=data.itemName%>">
            <input type="text" placeholder="item price" name="price" value="<%=data.itemPrice%>">
            <input type="text" placeholder="item stock" name="stock" value="<%=data.itemStock%>">
            <input type="text" placeholder="item code" name="code" value="<%=data.itemCode%>">
            </br>
            </br>
            <button>Update</button>
        </form>
    </center>
</body>

</html>