<%- include('./partials/header')%>
<div class="ui tall stacked segment">
<h3><a class="ui right floated primary button" href="/items/add">Add Item</a></h3><br><br>
<table class="ui celled compact table">
  <thead>
    <tr>
      <th>No</th>
      <th>Brand</th>
      <th>Size</th>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Item Code</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%data.forEach((data,no) => {%>
      <td><%=no+1%></td>
      <td><%=data.Brand.brandName%></td>
      <td><%=data.Size.sizeNumber%></td>
      <td><%=data.itemName%></td>
      <td><%=data.itemPrice%></td>
      <td><%=data.itemStock%></td>
      <td><%=data.itemCode%></td>
      <td><a href="/items/edit/<%=data.id%>">edit</a> | <a href="/items/delete/<%=data.id%>">delete</a></td>
    </tr>
    <%})%>
  </tbody>
</table>
</div>
<%- include('./partials/footer')%>
