<!DOCTYPE html>
<<<<<<< HEAD

=======
>>>>>>> seed dummy ke table Item
<html lang="en">
<head>
  <title>Items List</title>
</head>
<body>
<<<<<<< HEAD
  <center>
    <h1>Item List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Item Id</th>
          <th>Brand Id</th>
          <th>Size Id</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Item Stock</th>
          <th>Item Code</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%data.forEach(data => {%>
          <td><%=data.id%></td>
          <td><%=data.BrandId%></td>
          <td><%=data.SizeId%></td>
          <td><%=data.itemName%></td>
          <td><%=data.itemPrice%></td>
          <td><%=data.itemStock%></td>
          <td><%=data.itemCode%></td>
          <td><a href="/item/edit/<%=data.id%>">edit</a> | <a href="/item/delete/<%=data.id%>">delete</a></td>
        </tr>
        <%})%>
      </tbody>
    </table>
    </br>
    </br>
    <form action="/item/add">
      <!-- <input type="submit" value="add"/> -->
      <button>add new item</button>
    </form>
  </center>
</body>
</html>
=======
  
</body>
</html>
>>>>>>> seed dummy ke table Item
