<%- include('../partials/header')%>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/barcode.js"></script>
	<div class="ui tall stacked segment">
	<%if(!data){%>
		<div id="barcode">
			<video id="barcodevideo" controls autoplay></video>
			<canvas id="barcodecanvasg"></canvas>
		</div>
		<canvas id="barcodecanvas"></canvas>
		<form class="ui form" action="" method="post">
			<input id="result" name="result" type="text" placeholder="Code In here">
			<input class="ui primary button" type="submit" value="Submit">
		</form>
	<%}else{%>
		<form class="ui form">
			<div class="field">
	      <label>Nama Brand</label>
	      <input type="text" value="<%=data.Brand.brandName%>" disabled>
	    </div>
			<div class="field">
	      <label>Nama Varian</label>
	      <input type="text" value="<%=data.itemName%>" disabled>
	    </div>
	    <div class="field">
	      <label>Size</label>
	      <input type="text" value="<%=data.Size.sizeNumber%>" disabled>
	    </div>
	    <div class="field">
	      <label>Price</label>
	      <input type="text" value="<%=data.itemPrice%>" disabled>
	    </div>
	    <div class="field">
	      <label>Stock</label>
	      <input type="text" value="<%=data.itemStock%>" disabled>
	    </div>
			<div class="field">
	      <label>Code</label>
	      <input type="text" value="<%=data.itemCode%>" disabled>
	    </div>
	  </form>
	<h3><a class="ui primary button" href="/search/barcode">Back to search</a></h3>
	<%}%>
	</div>
	<script type="text/javascript">
		var sound = new Audio("barcode.wav");
		$(document).ready(function() {
			barcode.config.start = 0.1;
			barcode.config.end = 0.9;
			barcode.config.video = '#barcodevideo';
			barcode.config.canvas = '#barcodecanvas';
			barcode.config.canvasg = '#barcodecanvasg';
			barcode.setHandler(function(barcode) {
				$('#result').html(barcode);
			});
			barcode.init();
			$('#result').bind('DOMSubtreeModified', function(e) {
				sound.play();
			});
		});
	</script>
	<%- include('../partials/footer')%>
